<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>  
  
  <head>
    <title>Edita tu receta | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/newPost.css"> 
  </head>

  <body>
    <%- include('partials/header')%>

    <h4 class="title">Edita tu receta</h4>

    <form action="/posts/<%= post.id %>/edit" class="new-post" method="POST" enctype="multipart/form-data"> 
      <div class="input-group">
        <span class="input-group-text">Titulo</span>
        <input type="text" value="<%= post.name %>" aria-label="Title" name="name" class="form-control">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">Descripción</span>
        <textarea class="form-control" value="<%= post.description %>" aria-label="With textarea" name="description"><%=post.description%></textarea>
      </div>
      
      <div class="input-group">
          <span class="input-group-text">Ingredientes</span>
          <textarea class="form-control" value="<%= post.ingredients %>" aria-label="With textarea" name="ingredients"><%=post.ingredients%></textarea>
      </div>
      
      <div class="input-group">
          <span class="input-group-text">Instrucciones</span>
          <textarea class="form-control"  value="<%= post.instructions %>" aria-label="With textarea" name="instructions"><%=post.instructions%></textarea>
      </div>
      
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Imagen</label>
        <input type="file" accept=".jpg, .png, .jpeg" class="form-control" name="picture" id="inputGroupFile01">
      </div>
      
      <button type="submit" class="btn btn-primary actions">Hecho</button>

    </form>
    
    <form action="/posts/<%= post.id %>" method="GET" class="cancel">
      <button type="submit" class="btn btn-primary actions">Cancelar</button>
    </form>

    <%- include('partials/footer') %> 
  </body>
</html>