<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  
  <head>
    <title>Edit Profile | Sweet Avenue </title>
    <link rel="stylesheet" href="/css/editProfile.css"> 
  </head>

  <body>
    <%- include('partials/header')%>

    <h4 class="title">Editar perfil</h4>

    <% if (locals.userLoggedOn && userLoggedOn) { %> 

    <form method="POST" class="edit-profile" enctype="multipart/form-data">
      <div class="input-group">
        <span class="input-group-text">Nombre y apellido</span>
        <input type="text" aria-label="First name" name="name" class="form-control">
        <input type="text" aria-label="Last name" name="surname" class="form-control">
      </div>

      <div class="input-group">
        <span class="input-group-text">Biografia</span>
        <textarea class="form-control" aria-label="With textarea" name="biography">
          <% if(userLoggedOn.biography != null) { %>
            <%=userLoggedOn.biography%>
          <% } %> 
        </textarea>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Foto de perfil</label>
        <input required type="file" accept=".jpg, .png, .jpeg" class="form-control" name="profile_picture" id="inputGroupFile01">
      </div>

      <button type="submit" class="btn btn-primary">Hecho</button>
    
    </form>

    <form action="/users/myprofile/<%= userLoggedOn.username %>" method="get">
      <button type="submit" class="btn btn-primary">Cancelar</button>
    </form>

    <% } else { %>
      <p>Inicia sesión para editar tu perfil.</p>
    <% } %> 

    <%- include('partials/footer') %> 

  </body>
</html>