<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
<head>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('partials/headerLoggedOn')%>

      <main>
        <% for (post of posts) { %> 
          <div class="card" style="width: 18rem;">
            <a class="streched-link" href="posts/postDetail">
            <img src="/<%= post.image %>" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <a class="streched-link" href="posts/postdetail">
                <h4 class="post-title"><%= post.name %></h4>
              </a>
              <a class="streched-link" href="users/userDetail">
                <img class="card-post-profile-picture" src="/images/logo.png" alt="">
                <p class="post-username"> <%= post.username %> </p>
              </a>
              <a class="streched-link" href="posts/postdetail">
                <p class="post-description card-text"><%= post.name %></p>
              </a>
              <p class="post-like">Like</p>
              <p class="post-comment">Comment</p>
              <hr>
              <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
              <p class="post-comment-content">Muy buenooo!!</p>
              <br>
              <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
              <p class="post-comment-content"> Me gusto la idea</p>
              <br>
              <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
              <p class="post-comment-content">Intente hacerlo y no pude</p>
              <br>
              <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
              <p class="post-comment-content">Tengo una receta mucho mejor!</p>
            </div>
        </div>
        <% } %> 
        
      </main>

      <%- include('partials/footer')%>
</body>
    
</html>