<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head')%>  
  
  <head>
    <title>Sweet Avenue</title>
    <link rel="stylesheet" href="/css/index.css"> 
  </head>

  <body>
    <%- include('partials/header')%>
    <main>
      <% if (locals.userLoggedOn && userLoggedOn) { %> 
      <h1>¡Hola <%= userLoggedOn.name %>!</h1>
      <% } %>
      <% for (let post of posts) { %>  
        <div class="card" style="width: 18rem;">
          <a class="streched-link" href="posts/<%= post.id %>">
          <img src="/images/<%= post.picture %>" class="card-img-top" alt="..."></a> 
          <div class="card-body">
            <a class="streched-link" href="posts/<%= post.id %>">
              <h4 class="post-title"><%= post.name %></h4> 
            </a>
            <a class="streched-link" href="users/<%= post.user.username %>">
              <img src="/images/<%= post.user.profile_picture %>" class="card-post-profile-picture"> 
              <p class="post-username">@<%= post.user.username %> </p> 
            </a>
            <a class="streched-link" href="posts/<%= post.id %>">
              <p class="post-description card-text"><%= post.description %></p> 
            </a>
            <p class="card-text post-date">Fecha: <%= post.date_creation %></p> 
            <p class="post-like">Like</p>
            <p class="post-comment">Comentar</p> 
            <hr>
              <% for (let comment of post.comments) { %>
                <a class="streched-link" href="/users/<%=comment.user.username%>"><p class="post-username-comment">@<%=comment.user.username%></p></a>
                <p class="post-comment-content"><%=comment.text%></p>
                <br>
              <% } %> 
            </div>
        </div>
      <% } %>   
    </main>

    <%- include('partials/footer')%> 

  </body>

</html>