<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  
  <head>
    <title>My Profile | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/myProfile.css"> 
  </head> 

  <body>
    <%- include('partials/headerLoggedOn') %>  
    <div class="card user-card" style="width: 100;">
        <img class="imgMy" src="/<%= user.image %>" alt=""> 

        <div class="card-body">
          <h5 class="card-title"><%= user.name %> <%= user.surname %></h5> 
          <h6 class="card-subtitle mb-2 text-muted">@<%= user.username %></h6> 
          <p class="card-text"><%= user.biography %></p> 
          <p class="card-text follows">Followers: 100</p>
          <p class="card-text follows">Following: 100</p>
          <form action="/users/editprofile">
          <button type="submit" class="btn btn-secondary btn-sm">Edit Profile</button>
          </form>
        </div>
    </div>
    <main>
      <% for(post of userPosts) { %>  
        <div class="card" style="width: 18rem;">
          <a class="streched-link" href="/posts/<%= post.postId %>"> 
          <img src="/<%= post.image %>" class="card-img-top" alt="...">
          </a> 
          <div class="card-body">
            <a class="streched-link" href="/posts/<%= post.postId %>"> 
            <h4 class="post-title"><%= post.name %></h4> 
            </a>
            <a class="streched-link" href="/posts/<%= post.postId %>"> 
            <p class="post-description card-text"><%= post.description %></p>
            </a> 
            <p class="card-text post-date">Date: <%= post.date %></p> 
            <hr>
            <% for (let comment of post.comments) { %>
              <a class="streched-link" href="/users/<%=comment.user.username%>"><p class="post-username-comment">@<%=comment.user.username%></p></a>
              <p class="post-comment-content"><%=comment.text%></p>
              <br>
            <% } %> 
          </div>
        </div>
      <% } %> 
    </main>

    <%- include('partials/footer') %> 
  </body>
</html>