<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 

  <head>
    <title><%=post.name%> | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/postDetail.css"> 
  </head> 

  <body>
    <%- include('partials/header')%>

    <div class="card post-detail">
      <div class="card-header title">
        <%= post.name %> 
      </div>
      <div class="card-header username">
        <a class="streched-link" href="/users/<%= post.user.username %>">@<%= post.user.username %></a> 
      </div> 
      <div class="card-body">
        <section>
          <img src="/images/<%= post.picture %> " class="card-img-top" alt="..."> 
          <p class="card-text description"><%= post.description %></p> 
          <p class="card-text post-date">Fecha: <%= post.date_creation %></p> 
        </section>
        <section>
          <h5 class="card-title">Ingredientes</h5>
          <p class="card-text"> <%= post.ingredients %></p> 
          <h5 class="card-title instructions-title">Instrucciones</h5>
          <p class="card-text"><%= post.instructions %></p> 
        </section>
        <section>
          <% if (locals.userLoggedOn && userLoggedOn) { %>
              <% if(userLoggedOn.id == post.user.id) { %> 
                <form action="/posts/<%= post.id %>/edit" class="form-comment" style="display: inline;">
                  <button type="submit" class="btn btn-primary" >Editar</button>
                </form>
                <form action="/posts/<%= post.id %>/delete" method="POST" class="form-comment" style="display: inline;">
                  <button type="submit" class="btn btn-primary" >Eliminar</button>
                </form>
                <hr>
              <% } %> 
          <% } %>  
          <h5 class="card-title">Comentarios</h5>
          <% for(let comment of comments) { %>
            <a class="streched-link" href="/users/<%= comment.user.username %>"><p class="post-username-comment">@<%= comment.user.username %></p></a>
            <p class="post-comment-content"><%= comment.text %></p>
            <br>
          <% } %> 
          <% if (locals.userLoggedOn && userLoggedOn) { %>
              <h5 class="card-title leave-comment-title">Deje un comentario</h5>
              <form method="POST" class="form-comment">
                <div class="input-group">
                  <textarea name="text" id= "text"class="form-control" aria-label="With textarea"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Commentar</button>
              </form>
          <% } else { %>
            <p> <a href="/login">Debes loguearte para comentar un posteo.</a></p>
            <p>¿No tenes una cuenta? <a href="/register">Registrate acá</a></p>
          <% } %>
        </section>
      </div>
    </div>
    <%- include('partials/footer') %> 
  </body>
</html>