<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>  

  <head>
    <title>Register | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/register.css"> 
  </head>
  
  <body class="text-center">

    <%- include('partials/header')%>

    <% if (locals.userLoggedOn && userLoggedOn) { %>
      <div class="card card-alert-login">
        <h5 class="card-header">Aviso</h5>
        <div class="card-body">
          <p class="card-text" style="margin-bottom: 16px;">Actualmente ha iniciado sesión como @<%= userLoggedOn.username  %>, necesita salir para registrar a un nuevo usuario.</p>
          <form action="/logout" method="GET" style="display: inline;">
            <button type="submit" class="actions btn btn-primary">Cerrar sesión</button>
          </form>
          <form action="/" method="GET" style="display: inline;">
            <button type="submit" class="actions btn btn-primary">Volver al inicio</button>
          </form>
        </div>
      </div>
      <% } else { %> 


    <% if (locals.errors && errors.length > 0) { %>
      <% for(let error of errors) { %> 
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %> 
    <% } %> 
    
    <main class="form-signin"> 
      <form method = "Post" style="padding: 30px 500px 0px 500px;">
        <img class="mb-4" src="/images/logo.png" alt="" width="110" height="110">
        <h1 class="h3 mb-3 fw-normal">Registrate</h1>
    
        <div class="form-floating">
          <input required type="text" name="name" class="form-control" id="floatingInput" placeholder="name">
          <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-floating">
          <input required type="text" name="surname" class="form-control" id="floatingInput" placeholder="surname">
          <label for="floatingInput">Apellido</label>
        </div>
        <div class="form-floating">
          <input required type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
          <label for="floatingInput">Nombre de usuario</label>
        </div>
        <div class="form-floating">
          <input required type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Mail</label>
        </div>
        <div class="input-group">
          <span class="input-group-text">Fecha de cumpleaños</span>
          <input type="date" name="date_birth" class="form-control" id="inputGroupFile01">
        </div>
        <select class="form-select" name="level" aria-label="Default select example">
          <option selected>Nivel</option>
          <option value="1">Principiante</option>
          <option value="2">Avanzado</option>
          <option value="3">Experto</option>
        </select>
        <div class="form-floating">
          <input required type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Contraseña</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="remember_me"> Recordarme
          </label>
        </div>
        <button style="background-color: #48b9a8ff; border-color: #48b9a8ff;" class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
      <% } %> 
    </main>
      
    <%- include('partials/footer') %> 
  </body>

</html>