<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>
  <head>
    <title>Resultados de la busqueda | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/searchResults.css"> 
  </head>
  
  <body>
    <%- include('partials/header')%>

    <h4 class="title"> Resultados de la búsqueda: "<%= search %>"</h4>
    <h5 style="margin: 16px">Usuarios:</h5>
    <div class="usersResults">
      <% if(users.length === 0) { %> 
        <p style="margin: 16px">No encontramos usuarios para su criterio de búsqueda.</p>
        <% } else { %> 
          <% for(let user of users) { %>
          <div class="card" style="width: 18rem;">
          <div class="card-body">
          <a href="users/<%= user.username %> "><h5 class="card-title"><%=user.name%> <%= user.username%></h5></a>
          <a href=""><h6 class="card-subtitle mb-2 text-muted">@<%=user.username%></h6></a>
          </div>
        </div>
        <% }%>
        <% } %>
    </div>
    <h5 style="margin: 16px">Recetas:</h5>
    <main> 
      <% if(posts.length === 0) { %> 
      <p>No encontramos recetas para su criterio de búsqueda.</p>
      <% } else { %> 
        <% for (let post of posts) { %>  
          <div class="card" style="width: 18rem;">
            <a class="streched-link" href="posts/<%= post.id %>">
            <img src="/images/<%= post.picture %>" class="card-img-top" alt="..."></a> 
            <div class="card-body">
              <a class="streched-link" href="posts/<%= post.id %>">
                <h4 class="post-title"><%= post.name %></h4> 
              </a>
              <% if (locals.userLoggedOn && locals.userLoggedOn.username == post.user.username) { %> 
                <a class="streched-link" href="users/myprofile/<%= post.user.username %>">
                  <img src="/images/<%= post.user.profile_picture %>" class="card-post-profile-picture"> 
                  <p class="post-username">@<%= post.user.username %> </p> 
                </a>
                <% } else if  (locals.userLoggedOn && userLoggedOn != post.user.username ) { %>
                  <a class="streched-link" href="users/<%= post.user.username %>">
                    <img src="/images/<%= post.user.profile_picture %>" class="card-post-profile-picture"> 
                    <p class="post-username">@<%= post.user.username %> </p> 
                  </a>
                  <% } else if (locals.userLoggedOn && userLoggedOn == undefined){ %>
                    <a class="streched-link" href="users/<%= post.user.username %>">
                      <img src="/images/<%= post.user.profile_picture %>" class="card-post-profile-picture"> 
                      <p class="post-username">@<%= post.user.username %> </p> 
                    </a>
                    <% }%>
              <a class="streched-link" href="posts/<%= post.id %>">
                <p class="post-description card-text"><%= post.description %></p> 
              </a>
              <p class="card-text post-date"><%= post.date %></p> 
              <% if (locals.userLoggedOn && locals.userLoggedOn && userLoggedOn) { %> 
                <% if (post.likes.find(like => like.id_user == locals.userLoggedOn.id)) { %>
                  <a href="/results/<%= post.id %>/dislike"><img src="/images/like.png" class="card-post-like"></a>
                <% } else { %>
                  <a href="/results/<%= post.id %>/like"><img src="/images/no_like.png" class="card-post-like"></a>
                <% } %>
                <% } else { %>
                  <img src="/images/like.png" class="card-post-like">
                <% } %>
                <p style="display: inline;"><%= post.likes.length %> </p>
              <hr>
                <% for (let comment of post.comments) { %>
                  <a class="streched-link" href="/users/<%=comment.user.username%>"><p class="post-username-comment">@<%=comment.user.username%></p></a>
                  <p class="post-comment-content"><%=comment.text%></p>
                  <br>
                <% } %> 
              </div>
          </div>
        <% } %>    
      <% } %> 
    </main>

    <%- include('partials/footer') %> 

  </body>
    
</html>