<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <head>
    <title><%=user.username%> | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/userDetail.css">
  </head> 
    
  <body>
    <%- include('partials/header')%> 

    <div class="card user-card" style="width: 100;">
      <img src="/images/<%= user.profile_picture %>" alt=""> 
      <div class="card-body">
        <h5 class="card-title"> <%= user.name %>  <%= user.surname %> </h5> 
        <h6 class="card-subtitle mb-2 text-muted"> <%= user.username %> </h6> 
        <p class="card-text"> <%= user.biography %> </p>
        <p class="card-text follows">Recetas: <%= posts.length %> </p>
        <p class="card-text follows">Seguidos: <%= user.following.length %></p>
        <p class="card-text follows">Seguidores: <%= user.followers.length %> </p>

        <% if ((locals.userLoggedOn && userLoggedOn) && userLoggedOn.username==user.username) { %>

        <form action="/users/editprofile">
          <button type="submit" class="btn btn-secondary btn-sm">Editar Perfil</button>
        </form>
      <% }%>
        <% if (locals.userLoggedOn && userLoggedOn) { %>
        <% if (user.id !=locals.userLoggedOn.id) { %>
            <% if (user.followers.find(follow=> follow.follower_id == locals.userLoggedOn.id)) { %>
              <form action="/users/<%= user.id %>/unfollow" method="POST">
                <button type="submit" class="btn btn-secondary btn-sm">Dejar de seguir</button>
              </form>
              <% } else { %>
                <form action="/users/<%= user.id %>/follow" method="POST">
                  <button type="submit" class="btn btn-secondary btn-sm">Seguir</button>
                </form>
                <% } %>
          <% } %>
          <% } else {%> 
                <form action="/register" method="GET">
                  <button type="submit" class="btn btn-secondary btn-sm">Seguir</button>
                </form>
          <% } %>


      </div>
    </div>

    <main>
      <% for( let i = 0; i < posts.length; i++ ) { %> 
        <% const post = posts[i]%> 
        <div class="card" style="width: 18rem;">
          <a class="streched-link" href="/posts/<%= post.id %>">
          <img src="/images/<%= post.picture %> " class="card-img-top" alt="...">
          </a>
          
          <div class="card-body" name="<%= post.id %> ">
            <a class="streched-link" href="/posts/<%= post.id %>">
              <h4 class="post-title"> <%= post.name %> </h4>
            </a>
            <a class="streched-link" href="posts/<%= post.id %>">
              <p class="post-description card-text"><%= post.description %></p>
            </a>
            <p class="card-text post-date"><%= post.date %></p> 
            <% if (locals.userLoggedOn && userLoggedOn) { %> 
            <% if (post.likes.find(like => like.user_id == locals.userLoggedOn.id)) { %>
              <a href="/users/<%= post.id %>/dislike"><img src="/images/like.png" class="card-post-like"></a>
            <% } else { %>
              <a href="/users/<%= post.id %>/like"><img src="/images/no_like.png" class="card-post-like"></a>
            <% } %>
              <% } else { %>
                <img src="/images/like.png" class="card-post-like">
              <% } %>
            <p style="display: inline;"><%= post.likes.length %> </p>
            <hr>
            <% for (let comment of post.comments) { %>
              <a class="streched-link" href="/users/<%=comment.user.username%>"><p class="post-username-comment">@<%=comment.user.username%></p></a>
              <p class="post-comment-content"><%=comment.text%></p>
              <br>
            <% } %> 
          </div>

        </div>
      <% } %>
    </main>
    <%- include('partials/footer') %>
  </body>

</html>